html{

    background-color: #000033;
}

.random{
    color: red
}

.Hero-Card{

    position: fixed;
    right: 10px;   
    background-color: #2e2e33;
    border: 2px solid #dcca98;
    border-radius: 10%;
    height: 225px;
    width: 120px;
}

.Hero-Info{

    
}

.Hero-Image{

    position: absolute;
    margin: 8px 8px;
    
    border: 1px solid #DCCA98;
    border-radius: 10%;

}

