html{

    background-color: #000033;
}

.random{
    color: red
}

.Hero-Card{

    display: inline-block;
    position: relative;
    top: 50px;
    background-color: #2e2e33;
    border: 2px solid #fb002a;
    height: 750px;
    width: 350px;
}

.Hero-Info{

    display: block;
    padding: 10px 25px;
}

.Hero-Image{

    position: absolute;
    
    
    /* border: 1px solid #fb002a; */
    

}

.Grid-Images{

    border: 1px solid #fb002a;
    
}

.Border-Radius{

    border: 2px solid #fb002a;
    border-radius: 10%
}

.Grid-Container{

    display: inline-block;
     background-color: #3a3a37;  
     padding: 25px 10px; 
    height: 648px;
    width:  1334px;
}

